.library {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    z-index: 100;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;

    .hamburgerMenu {
        position: fixed;
        top: 1rem;
        right: 1rem;
        padding: 1.5rem 1rem;

        .lineContainer {
            position: relative;

            .lineLeft,
            .lineRight {
                width: 2.5rem;
                height: 0.3rem;
                background: rgb(218, 218, 218);
            }

            .lineLeft {
                transform: translateY(-100%) rotate(-45deg);
            }

            .lineRight {
                transform: rotate(45deg);
            }
        }
    }

    .playlist {
        background: white;
        width: fit-content;
    }

    .librarySong {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2.5rem;
        cursor: pointer;

        img {
            height: 125px;
        }

        .songData {
            width: 100%;
            padding: 0 4rem;

            h4 {
                font-size: 1rem;
            }

            p {
                font-size: 0.75rem;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .library {
        .hamburgerMenu {
            display: none !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .library {
        .playlist {
            width: 100%;
        }
    }
}

@media screen and (max-width: 475px) {
    .library {
        .librarySong {
            .songData {
                padding-left: 2rem;
                padding-right: 0;
            }
        }
    }
}

@media screen and (max-width: 385px) {
    .library {
        .hamburgerMenu {
            top: 0.5rem;
            right: 0.5rem;
        }

        .librarySong {
            padding: 1rem 2rem;
        }
    }
}
