.library {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);

    .playlist {
        background: white;
        width: 30%;
    }

    .librarySong {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        cursor: pointer;

        img {
            height: 125px;
        }

        .songData {
            width: 100%;
            padding-left: 2rem;
        }

        h4 {
            font-size: 1rem;
        }

        p {
            font-size: 0.75rem;
        }
    }
}
