.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 20vh;

    .timeControl {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            padding: 1rem;
        }
    }

    .playControl {
        font-size: 2rem;
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .volume {
            font-size: 1.5rem;
        }
    }

    .svg-inline--fa {
        padding: 1rem;
    }
}
